body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(https://picsum.photos/1000/) center/cover;
}
.quote {
    width: 80%;
    max-width: 500px;
    margin: 0;
    background: rgba(245, 245, 245, 0.384);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: 0.3s;

}
.quote:hover {
    transform: scale(1.03);
}
h3 {
    margin: 0;
}
em {
    margin-top: 20px;
    text-align: right;
    display: block;
}