body {
    min-height: 100vh;
    overflow: hidden;
    cursor: crosshair;
    user-select: none;
}

span {
    background: orange;
    border-radius: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: anim 10s forwards;
}
@keyframes anim {
    to {
        top: -400px;
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}
#scoreContainer {
    font-size: 6rem;
    text-align: center;
    color: rgba(128, 128, 128, 0.329);
}